body {
    display: flex;
    flex-direction: column;
}

#d0 {
    width: 1200px;
    height: 810px;
}

#charts {
    float: left;
}

#explain {
    position: relative;
    margin-top: 350px;
    width: 240px;
    height: 200px;
    color: red;
    float: left;
}

d1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

a{
    width: 50px;
    display: block;
    margin-top: 50px;
    margin-left: 10px;
}