<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>风电数据</title>
    <script th:src="@{/public/libs/echarts/echarts-3.7.1.min.js}"></script>
    <script th:src="@{/public/libs/jquery/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/public/js/turbo.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{public/css/basic.css}"/>
</head>
<body>
<div id="d0">
    <h3 style="text-align: center;">水轮机水力振动异常诊断</h3>
    <div id="charts">
        <div id="mainChart1" style="width:960px;height:400px;"></div>
        <div id="mainChart2" style="width:960px;height:400px;"></div>
    </div>
    <p id="explain">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;水轮机水力振动曲线振幅和波动周期偏大即为异常（涡带）状态
    </p>
</div>
<div id="d1"><a th:href="@{/windSpeed}">返回</a></div>
</body>
</html>